body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 20px;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}

.linkItem {
  padding-bottom: 1em;
}
